
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  
}
.section-title{
  font-weight: bold;
  font-size: 35px;
  color: #181818;

}
/* nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0px 200px;
}
.nav-title{
  font-size: 45px;
  font-weight: bolder;
}
.r{
  color: rgb(240, 107, 12);
}
nav ul li{
  list-style: none;
  margin-right: 50px;

}
nav ul a{
   text-decoration: none;
   color: black;
   font-size: 20px;
}
.btn{
  background-color: #FD6E0A;
  border: 0px;
  color: azure;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 35px;
  
}
.header{
  background-image: url(../images/developer.png) , url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
nav ul{
  display: flex;
  align-items: center;
}
.banner-greet{
  font-size: 45px;
  font-weight: 600;
  
}
.banner-title{
  font-weight: bold;
  font-size: 85px;
}
.para-description{
  font-size: 18px;
  font-weight: 400;
  color:#757575;
}
.banner-profile{
  width: 584px;
  height: 676px;

}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
  
}
.banner-content{
  max-width: 580px;
}
.secondary-bg{
  background-color: #FFF8F3;
}
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  
}
.main-section{
  max-width: 1140px;
  margin: 0 auto;
  

}
.item-description{

  color: #474747;
  font-weight: 600;

}
.about-items{
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: space-around;

}
.text{
  text-align: center;
}
.skills-container{
  display: flex;
  border-radius: 5px;
  justify-content: space-around;
  gap: 24px; 
}
.skill-description{
  
  color: #757575;

}
.skill{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px;
  color: rgba(0, 0, 0, 0.06);
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
.skill-title{
  color: #181818;
}